.index {


  .md-editor-code-head {
    padding: 10px 20px 0;
  }

  .md-editor-code-action {
    display: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-left: 7px solid #00b3ff;
    border-radius: 5px;
    padding-left: 10px;
  }

  p,
  li,
  strong {
    font-size: 15px !important;
  }
}